<div class="container-fluid" id="body">
	<div class="row" id="header">
		<div class="col-md-4">
		</div>
		<div class="col-md-4" id="header-title">
			<h1>KléQueue</h1>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4" id="loginBox">
			</br>
			<h4>Welcome, log in</h4>
			</br>
			<form ng-submit="login(user)">
				<div class="input-group input-group-md"> 
					<span class="input-group-addon"><i id="formIcon" class="glyphicon glyphicon-envelope"></i></span>
					<input id="email" type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
				</div>
				</br>
				</br>
				<div class="input-group input-group-md">
					<span class="input-group-addon"><i id="formIcon" class="glyphicon glyphicon-lock"></i></span>
					<input id="password" type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
				</div>
			
			</br>
			<div class="col-md-2">
			</div>
			<div class="col-md-4" id="signInButton">
				<a href="" ng-click="login(user)" id="button">
					<button id="transparentButton" class="btn btn-md" style="width: 10em;">
						<h5>Sign-in User</h5>
					</button>
				</a>

			</div>
			<div class="col-md-4" id="createNewUserButton">
				<a id="button" ng-href="#!/registerPage"><button id="transparentButton" class="btn btn-md" style="width: 10em;"><h5>Create New User</h5></button></a>
			</div>
			</form>
			<div class="col-md-2">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-12" ng-if="error">
			<h4>Error: <strong>{{ errorMessage }}</strong></h4>
		</div>
	</div>
	<div class="row" id="footer">
		<!--<div class="col-md-4"><a id="yo"><h4>About us</h4></a></div>
		<div class="col-md-4"><a id="yo"><h4>Licens</h4></a></div>
		<div class="col-md-4"><a id="yo"><h4>Copyright</h4></a></div>-->
	</div>
</div>