<div class="row" ng-controller="searchCtrl" id="queueDiv">
	<div class="col-md-12">
		<h2 id="yo">Queue list</h2>
		<!--Edit Order button-->
		<div class="row">
			<div class="col-md-10">
			</div>
			<div class="col-md-2">
				<button id="transparentButton" type="button" class="btn btn-default btn-md" ng-click="change =! change">Edit</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1" ng-show="change">
			</div>
			<div class="col-md-6">
				<div class="row">
					Title
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					Artist
				</div>
			</div>
			<div class="col-md-1" ng-show="change">
			</div>
			<hr></hr>
		</div>
		{{checkQueue()}}
		<!--when the queue is empty-->
		<div class="row" ng-if="queueEmpty==true" ng-controller="searchCtrl">
			<div class="col-md-3">
			</div>
			<div class="col-md-8">
				<div class="row">
					<h3>Queue is empty,</h3>
					<h3>queue songs with +</h3>
				</div>
			</div>
		</div>
		<!--Displays The Queue-->
		<div class="row" ng-repeat="song in getList() track by $index">
			<div class="col-md-1" ng-show="change">
				<div class="row">
	    			<input id="test{{$index}}" type="checkbox" value="{{$index}}" ng-model="hej" ng-click="checkCheckboxes()" ng-change="changeDirection($index)">
	    			<span class="hej" id="direction{{$index}}"></span>
	    		</div>
	    	</div>
			<div class="col-md-5">
				<div class="row">
					{{getRowIndex($index)}}{{song.name}}
					<a id="sortLink" href="" ng-click="player(song.preview_url)">
						<span class="glyphicon glyphicon-volume-up"></span>
					</a>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row">
					<a id="sortLink" ng-href='#!/artistPage/{{song.artists[0].id}}' ng-click="getAlbum(song.artists[0].id)">
						{{song.artists[0].name}}
					</a>
				</div>
			</div>
			<div class="col-md-1" ng-show="change">
				<div class="row">
					<a id="sortLink" href="" ng-click="removeSong(song.id)">
						<span class="glyphicon glyphicon-remove">
						</span>
					</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<hr></hr>
		</div>
		<!--Comfirm the Change of order in Queue, Only visable while edit order is clicked-->
		<div class="row" ng-show="change" style="padding-bottom: 1em;">
			<div class="col-md-4">
				<div class="row">
					<button  id="transparentButton" type="button" class="btn btn-default btn-xs" ng-click="changeOrder();resetCheckboxes(); change =! change">Change Order</button>
				</div>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="row">
					<button  id="transparentButton" type="button" class="btn btn-default btn-xs" ng-click="resetQueue(); change =! change">Delete All</button>
				</div>
			</div>
		</div>
		
		<!--Displays totalplay time-->
		<div class="row">
			<div class="col-md-5">
				<div class="row">
					Total RunTime:
				</div>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-5">
				<div class="row">
					{{totalRuntime()}}
					min
				</div>
			</div>
		</div>
		</br>
		<!--Save Queue as Playlist-->
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<button type="button" id="transparentButton" class="btn btn-default btn-md" ng-click="saveFunction()">
						Save Queue as Playlist 
					</button>
				</div>
			</div>
		</div>
		<!--Saving Field only visable when Save Queue.. is clicked-->
		<div class="row" ng-if="save==true" ng-controller="RegController">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<h5>Name your playlist</h5>
					</div>
				</div>
				<div class="row">
					<form ng-submit="savePlaylist(playlistName); resetQueue(); saveFunction()">
					<div class="col-md-5">
						<input class="form-control" style="color:black;" name="playlistName" placeholder="Playlist name" ng-model="playlistName" ng-required="true">
					</div>
					<div class="col-md-3">
						<button type="button" id="transparentButton" class="btn btn-default btn-md" ng-model="playlist" ng-click="savePlaylist(playlistName); resetQueue(); saveFunction()">Save</button>
					</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row" ng-if="messageFunction()">
			<div class="col-md-3">
			</div>
			<div class="col-md-8">
				<h4>Playlist saved!</h4>
			</div>
		</div>
	</div>
</div>